# Dependencies
node_modules/

# Environment variables
.env
/.dockerignore

# Logs
logs/
*.log

# VS Code settings
.vscode/

# OS
.DS_Store
 
# Docker
.dockerignore
docker-compose.override.yml

# Local DB files
postgres_data/

# Build / runtime
dist/
build/

# Misc
.env.local
.env.*.local
.cache
