<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PyQHub - Forgot Password</title>
    <link rel="stylesheet" href="/css/forgotpassword.css">
</head>

<body>
    <div class="container" id="forgot-password-form">
        <h2>Forgot Password ?</h2>
        <form action="/forgot-password" method="POST">
            <label for="username">Enter your username:</label>
            <input type="text" id="username" name="username" required>

            <button type="submit" id="forgot-password-btn">Submit</button>
        </form>
        <p><a href="/login" id="back-to-login">Back to Login</a></p>
    </div>
</body>

<script src="/js/main.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
    document.querySelector('form').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent default form submission

        var form = event.target;
        const formData = new URLSearchParams(new FormData(form)).toString();

        fetch(form.action, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: formData,
        })
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: data.error,
                    });
                } else {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success!',
                        text: data.message,
                    }).then(() => {
                        window.location.href = '/login';
                    });
                }
            })
            .catch(error => {
                Swal.fire({
                    icon: 'error',
                    title: 'An error occurred',
                    text: 'Please try again later.',
                });
            });
    });
</script>
</html>