/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #f4f4f4;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background: #1e1e1e;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    text-align: center;
}

/* Heading */
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #3b82f6;
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: bold;
    color: #f4f4f4;
    text-align: left;
}

.password-container {
    position: relative;
    width: 375px;
}

.password-container input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    font-size: 18px;
}

.password-container .toggle-password:hover {
    color:  #fff;
}

.password-contain {
    position: relative;
    width: 375px;
}

.password-contain input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 5px;
}

.password-contain .toggle-pwd {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #555;
    font-size: 18px;
}

.password-contain .toggle-pwd:hover {
    color:  #fff;
}

/* Input, Select, and Button Styles */
input, select, button {
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #2b2b2b;
    color: #f4f4f4;
}

input:focus, select:focus {
    outline: none;
    border-color: #00aaff;
    box-shadow: 0 0 4px #00aaff;
}

button {
    background-color: #3b82f6;
    color: #fff;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

button:hover {
    background-color: #2563eb;
}

/* Links */
a {
    color: #3b82f6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Forgot Password and Sign Up Links */
#forgot-password,
#show-signup {
    display: inline-block;
    font-size: 14px;
}

/* Responsive Design */
@media (max-width: 480px) {
    .container {
        margin: 20px;
        padding: 15px;
    }

    h2 {
        font-size: 20px;
    }

    input,
    select,
    button {
        font-size: 14px;
        padding: 10px;
    }
}
